<link rel="stylesheet" href="/styles/styles-artpost.css" media="screen" title="no title" charset="utf-8">
<div class="container-fluid animated fadeIn">

  <div class="row no-gutters">
    <!--ART DISPLAY SECTION-->
    <div class="col-lg-8">
      <div id="artworkdisplay" class="card">
        <img class="artimg" src={{artposts.URL}}>
        <div class="card-body" id="artInfo">
          <h3 class="card-title">{{artposts.title}}</h3>
            <strong>Artist:</strong> {{artposts.artist}}
          <br>
            <strong>Posting #:</strong> {{artposts.id}}
          <br>
            <strong>Posted:</strong> {{artposts.createdAt}}
          <br>
          <div id="postFooter" data-id="{{artposts.id}}">
            <a href="/browse"><button class="btn btn-sm float-left">← Back To Browse</button></a>
            <button class="btn btn-success btn-sm float-right edit">Edit Post</button>
            <button class="btn btn-danger btn-sm float-right delete">Delete Post</button>
          </div>
        </div>
      </div>
    </div>

    <!--BID/COMMENT COLUMN-->
    <div class="col-lg-4">
      <!--BID SECTION-->
      <div id="biddisplay">
        <div class="card">
          <h5>Bids</h5>
          <div class="card-body">
            <div id="bidList">
            <!--BIDS WILL POPULATE HERE-->
            </div>
          </div>
        </div>
      </div>
      <div id="bidinput">
        <div class="card">
          <h5>Submit a Bid</h5>
          <div class="card-body">
            <form class="mb-4" action="POST" data-id="{{artposts.id}}">
              <div class="form-group">
                <label for="bidAmount">Bid Amount</label>
                <input type="text" id="bidAmount" class="form-control" aria-describedby="bid Amount" placeholder="Place a Bid!">
              </div>
              <div class="form-group">
                <label for="bidder">Bidder</label>
                <input class="form-control" id="bidder" aria-describedby="bidder" placeholder="Who's the bidder?">
              </div>
              <button id="submitBid" class="btn btn-sm float-right">SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
      <!--COMMENT SECTION-->
      <div id="commentdisplay float-left">
        <div class="card">
          <h5>Comments</h5>
          <div class="card-body" id="commentList">
          <!--COMMENTS WILL POPULATE HERE-->
          </div>
          <form class="card-body" action="POST" data-id="{{artposts.id}}">
            <div id="commentinput">    
              <div class="form-group">
                <label for="comment">Your Comments</label>
                <input type="text" id="comment" class="form-control" aria-describedby="comment" placeholder="Leave a Nice Critique">
              </div>
              <div class="form-group">
                <label for="commentor">Your Name</label>
                <input class="form-control" id="commentor" aria-describedby="commentor" placeholder="Name Please">
              </div>
            </div>
            <button id="submitComment" class="btn btn-sm float-right">SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script src="/js/bid.js"></script>
<script src="/js/artpost.js"></script>
<script src="/js/comment.js"></script>