<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Posting #{{artpost.id}}</h5>
          <img src={{artpost.URL}}>
          <p>
            <strong>Title</strong>: {{artpost.title}}
          </p>
          <p>
            <strong>Artist:</strong> {{artpost.artist}}
          </p>
          <p>
            <strong>Posted:</strong>: {{artpost.createdAt}}
          </p>
          <p>
            <a href="/">← Back To Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
