<link rel="stylesheet" href="/styles/styles-artpost.css" media="screen" title="no title" charset="utf-8">

<div class="container">
  <div class="row justify-content-cente">
    <div class="col-12">
      <div class="card animated fadeIn mt-4">
        <div class="card-body">
          <h5 class="card-title">{{artpost.title}}</h5>
          <img class="artimg" src={{artpost.URL}}>
          <p>
            <strong>Artist:</strong> {{artpost.artist}}
          </p>
            <p>
            <strong>Posting #:</strong> {{artpost.id}}
          </p>
          <p>
            <strong>Posted:</strong>: {{artpost.createdAt}}
          </p>
          <p>
            <a href="/browse">← Back To Browse</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
